<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->
    <div class="col-md-6 p-0 bg-white h-md-100">
        <div class="d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="pt-5 pb-5">
                <app-url-form [listComponent]="urlListComponent"></app-url-form>
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-6 p-0 bg-steelblue h-md-100">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <app-url-list #urlListComponent></app-url-list>
        </div>
    </div>
        
</div>
<notifier-container></notifier-container>