/* You can add global styles to this file, and also import other style files */
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-steelblue { background: whitesmoke; }
.text-cyan { color: #35bdff; }